<div class="testimonial-box testimonialbox">
  <!-- Testimonial Box -->
  <ul class="testimonial-list list">

    <li class="testimonial-item item -az">
      <img is="lazy-loadable"
        loading="lazy" 
        lazyload="1" 
        importance="low" 
        srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
        src="<?php echo $block->getViewFileUrl('images/testimonials/foto1_depoimento.png'); ?>"
        class="img"
        width="139" 
        height="139" 
        alt="Monica G"
      >
      <div class="title">Monica G.</div>
      <div class="subtitle">Diretora Escola Cliente Pueri Bilingue</div>
      <div class="text">Os alunos adoram a metodologia e os pais conseguem ver os resultados no dia a dia da família</div>
    </li>

    <li class="testimonial-item item -az">
      <img is="lazy-loadable"
        loading="lazy" 
        lazyload="1" 
        importance="low" 
        srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
        src="<?php echo $block->getViewFileUrl('images/testimonials/foto2_depoimento.png'); ?>"
        class="img"
        width="139" 
        height="139" 
        alt="Augusto R."
      >
      <div class="title">Augusto R.</div>
      <div class="subtitle">Pai de aluno High Five</div>
      <div class="text">Em um ano de High Five, é como se meu filho tivesse feito 3 anos de aula de inglês em uma escola de idioma</div>
    </li>

    <li class="testimonial-item item -az">
      <img is="lazy-loadable"
        loading="lazy" 
        lazyload="1" 
        importance="low" 
        srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
        src="<?php echo $block->getViewFileUrl('images/testimonials/foto3_depoimento.png'); ?>"
        class="img"
        width="139" 
        height="139" 
        alt="Leonardo L."
      >
      <div class="title">Leonardo L.</div>
      <div class="subtitle">Aluno Plataforma AZ</div>
      <div class="text">Com o direcionamento e as facilidades digitais com o App AZ, ficou muito mais fácil organizar minha rotina de estudos</div>
    </li>

  </ul>
</div>